body{
    box-sizing: border-box;
    background-color: rgba(26, 26, 26, 0.937);
}

header{
    position: sticky;
    top: 0;
    z-index: 10;
}

.imgn{
    object-fit: fill;
    max-height: 43.5em;
    max-width: 100%;
}

.title{
    color: rgb(226, 226, 226);
    background-color: rgba(52, 52, 52, 0.663);
    margin-bottom: 0;
    padding: 1.5rem;
}

.huella{
    height: 2rem;
    width: 2rem;
}

.huella-logo{
    height: 60px;
    width: 60px;
}

.a__container{
    text-decoration: none;
}

.vidaAnimal{
    margin-left: 1em;
}


.row, .container{
    width: min-content;
}

.row{
    justify-content: left;
}

.informacionCreadores{
    width: 50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.autoresFooter{
    margin-bottom: 1em;
}

.centrar-footer{
    display: flex;
    padding: 2em;
}

.copyright{
   padding: 2em;
   padding-top: 3em;
   text-align: center;
   background-color: rgba(52, 52, 52, 0.653);
   width: 100%;
}


.alinearLogo{
    line-height: 12em;
}


@media (max-width: 600px) {
    
.alinearLogo{
    line-height: 50vh;
    padding: 0.5em;
}

}